doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript').
      setTimeout(function () {
        window.location.reload(1);
      }, 10000);
  body
    block content
